accept files:
  *.sd7
  *.s7i
header markers:
  (****
remark markers:
  *
end markers:
  ****
  *)
  (****
remark begin markers:
  (*
remark end markers:
  *)
options:
  --src ./
  --doc ./doc/documentation
  --html
  --singledoc
  --toc
  --documenttitle "Gtk-Server Seed7 Interface"
